@import 'nav.css';

.hero-section {
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/header.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero-section .logo{
    height: 150px;
    margin: auto;
    display: block;
}
.hero-section .sub-heading{
    margin-top: 10px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}